title: "It's a Cookbook"
url: "https://qmwc3.github.io"
baseurl: "/q-cookbook"

collections:
  recipes:
    output: true
defaults:
  - scope:
      path: ""
      type: recipes
    values:
      layout: recipe

# optional: exclude build files
exclude:
  - "node_modules"
